/* Базовые стили для секций */
section {
    margin: 20px 0;
}

h2 {
    text-align: center;
}

/* Сетка для блоков с блюдами */
.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish {
    text-align: center;
    padding: 10px;
}

/* Стилизация каждого блюда */
.dish {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-radius: 35px;
    background-color: white;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: border 0.3s ease, background-color 0.3s ease;
}

.dish:hover {
    border: 2px solid tomato;
}

/* Изображение */
/* Стили для изображения в блоке блюда */
.dish img {
    width: 100%; 
    height: 180px;  /* Фиксированная высота для всех изображений */
    object-fit: cover;  /* Обрезать изображение по границам */
    border-radius: 15px; /* Радиус скругления для всех изображений */
    margin-bottom: 15px;  /* Отступ снизу для отделения от текста */
}


/* Текст */
.dish p {
    margin: 10px 0;
}

.dish p:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.dish p:nth-of-type(2) {
    font-size: 20px;
    font-weight: bold;
}

.dish p:nth-of-type(3) {
    color: #888;
}

/* Кнопка */
.dish button {
    background-color: #f1eee9;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.dish:hover button {
    background-color: grey;
    color: white;
}
/* CSS для блока общей стоимости */
.total-price {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: tomato;
}
.filters button {
    background-color: white; /* Цвет фона по умолчанию */
    color: black; /* Цвет текста по умолчанию */
    border: 1px solid #ccc; /* Цвет границы по умолчанию */
    padding: 10px 15px; /* Отступы кнопок */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
}

.filters button.active {
    background-color: green; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
    border: 1px solid darkgreen; /* Цвет границы для активной кнопки */
}

/* Если вы хотите изменить стиль кнопок при наведении, можно добавить: */
.filters button:hover {
    background-color: lightgrey; /* Цвет фона при наведении */
}


/* Адаптивность */
@media (max-width: 800px) {
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dishes {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}
