body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

/* Базовые стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Обычный цвет текста */
    font-weight: bold;
    padding: 5px 10px; /* Добавим небольшие отступы */
    transition: color 0.3s ease;
}

/* Стили для hover-состояния */
nav ul li a:hover {
    color: red; /* Только цвет текста меняется на красный */
}

/* Стили для активного пункта */
nav ul li a.active {
    color: red; /* Цвет текста для активной страницы */
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
}
